<p class="UserHeader">
  Welcome!
  <%= link_to "Sign Out", destroy_session_path, method: "delete" %>
</p>
<h1 class="Home-Title"> Welcome to the Menus List </h1>
<table>
  <thead>
    <tr>
      <th class="Home-Subtitle">MenuID</th>
      <th class="Home-Subtitle">Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @menus.each do |menu| %>
      <tr>
        <td class="Home-Menulist"><%= menu.id %></td>
        <td class="Home-Menulist"><%= menu.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
