<section class="MenuitemSection">

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
  </tr>
  </thead>
  <tbody>
  <% @menuitems.each do |menuitem| %>
    <tr>
      <td><%= menuitem.name %></td>
      <td><%= menuitem.description %></td>
      <td><%= menuitem.price %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</section>
