<table class="UsersTable">
    <thead class="UsersTableHead">
        <th>IdNo.</th>
        <th>Name</th>
        <th>OrdersPlaced</th>
    </thead>
    <tbody class="UsersTableBody">
        <% users.all.each do |user| %>
        <tr>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td><%= user.orders.count %></th>
        </tr>
        <% end %>
    </tbody>
</table>
