<body class="UsersBody">
  <div>
    <p class="Users-Role">Clerks</p>
    <%= render partial:'user-section',
              locals:{  users: User.clerks }
    %>
  </div>
    <%= link_to "Create new profile for Clerk", new_clerk_path, class: "NewClerk_Link" %>
  <hr>
  <div class="users">
    <p class="Users-Role">Customers</p>
    <%= render partial:'user-section',
              locals:{ users: User.customers }
    %>
  </div>
</body>
