.OrderTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 24px;
}

.OrderTablehead {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: wheat;
  color: brown;
}

.OrderTablebody {
  border: 1px solid #ddd;
  padding: 8px;
  background-color: white;
  text-align: center;
  font-size: 16px;
}

.Orders-Title {
  font-size: 24px;
  font-weight: 800;
  margin-top: 80px;
  color: bisque;
  max-width: 40%;
  margin-left: 150px;
}

.OrdersBody {
  font-family: sans-serif;
  max-width: 40%;
  margin: 0 auto;
}

.CartBody {
  font-family: sans-serif;
  max-width: 50%;
  margin: 0 auto;
}

.Order-Id {
  font-weight: 550;
  color: darkorchid;
  margin-right: 10px;
  margin-left: 5px;
}

.Order-Container {
  margin-bottom: 20px;
}

.Order-Container:hover .MenuItem-deleteIcon {
  visibility: visible;
}

.Order-maincontent {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.Orderitems-details {
  display: list-item;
}

.Order-id {
  margin-right: 10px;
}

.Order-customer {
  margin-right: 10px;
}

.Ordered-at {
  margin-right: 10px;
}

.Order-items {
  margin-left: 50px;
}

.Order-orderitem {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.Orderitem-qty {
  color: rgb(32, 10, 235);
  font-weight: 400;
  margin-left: 10px;
}
