.reports-title {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  color: antiquewhite;
}
.reports-data {
  color: antiquewhite;
  display: inline-flex;
  align-items: stretch;
  margin-bottom: 20px;
  margin-top: 20px;
}
.reports-info {
  font-size: 24px;
  margin-right: 10px;
  padding: 6px 12px;
  align-items: stretch;
}
.search {
  color: rgb(92, 61, 5);
  font-size: 14px;
  background-color: wheat;
  border: 1px solid transparent;
  padding: 6px 22px;
  border-radius: 4px;
  margin-right: 15px;
}

.reports-customer_id {
  width: 80px;
}
.reports-data1 {
  font-size: 20px;
  font-style: oblique;
  margin-top: 10px;
  display: flex;
  color: antiquewhite;
  justify-content: space-between;
}
.reports-table {
  margin-top: 10px;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  background-color: grey;
}
.reports-table__tr {
  border: 1px solid black;
}
.Invoice-title {
  color: antiquewhite;
  font-style: italic;
  text-align: center;
  margin-bottom: 10px;
  font-size: 35px;
}
.invoice-orderdetails {
  margin-top: 10px;
  color: antiquewhite;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}
.invoice-userdetails {
  font-size: 24px;
  color: rgb(226, 43, 98);
}
.invoice-username {
  color: antiquewhite;
  display: flex;
  justify-content: space-between;
}
.invoice-userphone {
  margin-top: 10px;
}
.invoice-table {
  background-color: cornsilk;
  margin-top: 50px;
  width: 100%;
  border-collapse: collapse;
}
.invoice-table__tr {
  border: 1px solid black;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
th,
td {
  text-align: left;
  padding: 8px;
  font-size: 25px;
}
th {
  color: black;
  font-size: 20px;
}
.invoice-order__total {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  font-size: 24px;
}
