<p class="UserHeader">
  Welcome!
  <%= link_to "Sign Out", destroy_session_path, method: "delete" %>
</p>
<h1 class="Home-Title"> Welcome to the Menus List </h1>

<h3 class="Home-authenticate">
  If you want to create a new menu, <%= link_to "Create", new_menu_path %>
</h3>

<h3 class="Home-authenticate">
  If you want to update an existing menu, <%= link_to "Update", new_menusessions_path %>
</h3>
